@charset "UTF-8";

.swichtab-controller {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #05429c;
}

.swichtab-controller > li {
  flex: 1 1 auto;
font-weight: 500;

}

.swichtab-controller > li:first-child {

}

.swichtab-controller > li > a {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  color: #fff !important;
}

.swichtab-controller > li.is-active > a {
  border-bottom: 4px solid #139787;;
  font-weight: 700;
}

.swichtab-contents {
  padding: 1em;

  overflow: hidden;
}

.swichtab-panel {
  display: none;
}
